/* CUSTOM PROPS */
:root{
    --body-bg: #fafafa;
    --element-bg: #fff;
    --text-color: #111517;
}
/* FONTS */
@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('../fonts/NunitoSans10pt-Light.woff2') format('woff2'),
        url('../fonts/NunitoSans10pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('../fonts/NunitoSans10pt-Regular.woff2') format('woff2'),
        url('../fonts/NunitoSans10pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('../fonts/NunitoSans10pt-SemiBold.woff2') format('woff2'),
        url('../fonts/NunitoSans10pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('../fonts/NunitoSans10pt-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/NunitoSans10pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* GLOBAL */


html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit; /*bu meros olishi psevdo elem.larda*/
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;               /*sticky footer qilish uchun*/
    font-family: "Nunito Sans 7pt Condensed", "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    background-color: var(--body-bg);
    color: var(--text-color);
}

/* DARK MODE */
.dark-mode{
    --body-bg: #202C36;
    --element-bg: #2b3844;
    --text-color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}
/* CONTAINER */
.container{
    width: 100%;
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* SITE HEADER */
.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--element-bg);
    box-shadow: 0px 2px 4px 0px #0000000E;
    white-space: nowrap; /*ekran kichrayganda matn tagiga tushmaslik uchun*/
}
.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header-logo {
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    color: var(--text-color);
    text-decoration: none;
}
.site-header-logo:hover{
    opacity: 0.8;
}
.site-header-logo:active{
    opacity: 0.6;
}
/* button elementini display:flex berib bo'lmaydi shu sababli ham span solindi */
.site-header-theme-toggler {
    padding: 0;
    border: 0;
    background-color: transparent;  /*yaxshi yechim transparent yani shaffof*/
    cursor: pointer;
    color: var(--text-color);
}
.site-header-theme-toggler:hover{
    opacity: 0.8;
}
.site-header-theme-toggler:active{
    opacity: 0.6;
}
/* mana span */
.site-header-theme-toggler-inner {
    display: flex;
    align-items: center;
}
.site-header-theme-toggler-text {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--text-color);
}

/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
    padding-top: 48px;
    padding-bottom: 48px;
}

/* FORM */
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters-search-input {
    min-width: 480px;
    padding: 18px 74px;
    border: 0;
    background-color: var(--element-bg);
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.06);
}
.filters-region-select {
    min-width: 200px;
    padding: 18px 24px;
    border: 0;
    background-color: var(--element-bg);
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.06);
}

/* HERO */
/* .hero {

}
.form-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}
.form-field-search {
    display: flex;
    width: 480px;
    padding: 18px 62px;
    box-shadow: 0px 2px 9px 0px #0000000E;
    border: none;
    border-radius: 5px;
    background-color: var(--element-bg);
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 32px center;
}
.form-field-select {
    padding: 15px 24px;
    border: none;
    border-radius: 5px;
    background-color: var(--element-bg);
    box-shadow: 0px 2px 9px 0px #0000000E;
} */

/* COUNTRIES */
.countries-list-wrapper{
    display: flex;
    flex-direction: column;
}
.countries-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.countries-list:not(:last-child){
    margin-bottom: 75px;
}
.countries-item {
    background-color: var(--element-bg);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.031);
    border-radius: 5px;
    transition: transform 0.4s ease;
    /* all qiymatini berish xato chunki unda hamma css codelarga transit. qo'shilgan bo'ladi bo'ladi */
}
.countries-item:hover{
    transform: translateY(-20px);
}
.countries-img {
    flex-shrink: 0;
    width: 264px;
    height: 160px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: contain;
}
.countries-info {
    padding: 24px 24px 46px;
}
.countries-info-heading {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}
.countries-info-text{
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
}
.countries-info-text:not(:last-child){
    margin-bottom: 8px;
}
.bold-text {
font-size: 14px;
font-weight: 600;
line-height: 16px;
}
